# Folder cache files:
*.fcz

# Paths used by the editor:
/*.dll
/EditOneLife
/EditOneLife.exe
/graphics/
/groundTileCache/
/languages/
/log.txt
/log.txt.backup
/overlayImport/*.png
/recordedGames/
/reverbCache/
/settings/
/stdout.txt

# System-generated paths:
**/Thumbs.db